@using prismic
@model prismic.mvc.starter.PrismicViewModel
@{string refId = Model.Context.MaybeRef;}
@{string endpoint = Model.Context.Endpoint;}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Styles.Render("~/Content/css")
	<link rel="shortcut icon" type="image/png" href="@Url.Content("~/favicon.ico")" />
    @** Required for Previews and Experiments *@
    <script>
        window.prismic = {
            endpoint: '@endpoint'
        };
    </script>
    <script src="//static.cdn.prismic.io/prismic.min.js"></script>
</head>
<body>
	<header>
		<h1>@Html.ActionLink("Your prismic.io project", "Index", new { refId })</h1>
	</header>
	@RenderBody()
</body>
</html>


