@using prismic
@model prismic.mvc.starter.PrismicViewModel
@{string refId = Model.Context.MaybeRef;}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" media="screen" href="@Url.Content("~/Content/main.css")" />
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Content/favicon.png")" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    @** Required for Previews and Experiments *@
    <script src="//static.cdn.prismic.io/prismic.min.js"></script>
</head>
<body>
	<header>
		<h1>@Html.ActionLink("Your prismic.io project", "Index", new { refId })</h1>
	</header>
	@RenderBody()
</body>
</html>


