@using prismic
@model prismic.mvc.starter.PrismicResponse
@{string refId = Model.Context.MaybeRef;}

@using (Html.BeginForm("Search", "Home", new { refId }, FormMethod.Post )){
	@Html.TextBox("q")
    <input type="submit" value="Search" />
}
  <hr />

  <h2>
	@switch (Model.Response.Results.Count)
	{
	    case 0: @:No documents found
	    break;
	    case 1: @:One document found
	    break;
	    default: @:Showing @Model.Response.Results.Count out of @Model.Response.TotalResultsSize documents
	    break;
	}
  </h2>
  <ul>
  	@foreach (var document in Model.Response.Results) {
	<li>
		@Html.ActionLink(document.Slug, "Detail", new { document.Id, slug = document.Slug, refId })
	</li>
  	}  	
  </ul>


  @if(Model.Response.TotalPages > 1) {
    <div>
      @if(Model.Response.PrevPage != null) {
      	@Html.ActionLink("Previous", "Index", new { refId, page = Model.Response.Page - 1 })
      } else {
      <span>Previous</span>
      }
      @if(Model.Response.NextPage != null) {
      	@Html.ActionLink("Next", "Index", new { refId, page = Model.Response.Page + 1 })
      } else {
      <span>Next</span>
      }
    </div>
  }